player-connection-mode=Listen
player-connection-guid=3871912517
player-connection-debug=0
player-connection-project-name=MG-Force-Project
player-connection-ip=10.30.16.83
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0b4deeacfa8d4ef8ac9577d7d2a7fef8
